
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title{
    font-weight:1000px;
    font-size:34px;
    color: #4E47FF;
}

nav ul li{
    list-style:none;
}
/* button */
.btn-primary{
    background-color: #4E47FF;
    font-weight:bold ;
    font-size: 18px;
    color:white ;
    padding: 12px 36px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}
.btn-primary:hover{
    background-color: #00216e;
    
}
.btn-form{
    padding: 19px 201px ;
    margin-top: 20px;
}

/* .banner-style */


.banner-title{
    font-weight: 907px;
    font-size: 65px;
}
.banner{
    padding: 280px 267.5px 180px;
    text-align: center;

}
.header{
    background-image:url(../images/Hero-bg.png) ;
}

/* .action-bar */

.action{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    align-items: center;
    padding-top: 100px;
    padding-left:201px;
    padding-right:99px;
}
.image1{
     border-radius:40px;
}
 .text-tital{
    font-size: 45px;
    font-weight: 700px;
    gap: 10px;
 }
 .text-subtital{
    font-size: 24px;
    font-weight: 600px;
    margin-top: 0px;
    padding-right:300px;
    color: #252432;

 }  



 /* .joined style */
 
   .joined-bg{
    background-color: #d3d3f9;
    border-radius: 24px;
    max-width: 1140px;
    margin: 0 auto;
   margin-top: 110px;
   }
 
    .joined-tital{
     font-weight: 700px;
     font-size: 38px;
     color:#4E47FF;
     padding-top: 50px;
     padding-left: 200px;
     padding-right: 200px;
    
    }
 .joined-items{
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    line-height: 1.2px;
 }

 .item-tital{
    font-weight: 800px;
    font-size: 80px;
    color: #4E47FF;
 }

 .description{
    font-weight: 100px;
    font-size: 20px;
    color: #464545;
    margin-top: 2px;
    line-height: 1.2px;
 }

/* .review-style */

.review-title{
    font-weight: 700px;
    font-size: 40px;
   padding-top: 159px;
   text-align: center;
  }
.review-foot{
    display: flex;
    align-items: center;
    gap: 10px;
}
.review-section{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 150px;
    padding-right:150px ;
    gap: 24px;
}
.review-img{
    border-radius: 999px;
    height: 40px;
    width: 40px;
}
.Reviewer-name{
    line-height: 1.2px
}
.review{
    padding: 24px;
    box-shadow:0px 6px 25px 0px rgb(131, 130, 130);
    border-radius: 14px;
}

.review-boxtital{
    font-size: 30px;
}


.review-description{
    font-size: 20px;
     margin-top: 1px;
}

/* .focus-style */

.focus-bg{
    background-color: #f5f5f5;
    max-width: 1140px;
    border-radius: 15px;
    height: 700px;
    margin: 0 auto

}
.focus-head{
    text-align: center;
}
.focus-tital{
    font-weight: 700px;
    font-size: 50px;

}
.focus-description{
    font-size: 18px;
}
.focus-img{
    border-radius: 48px;
    display: block;
    margin: auto;
    margin-top: 20px;
    
}

/* .touch-style */

.touch{
    display: flex;
    align-items: center;
}
.touch-title{
    font-weight: 700px;
    font-size: 90px;
    padding-top: 304px;
    padding-left: 150px;
    padding-right: 100px;
    padding-bottom: 200px;
    }

input[type="email"], input[type="text"],textarea {
    height: 70px;
    width: 497px;
    border: none;
    background-color: #f4f4f7;
    border-radius: 10px;
    font-size: larger;


 }